.gradle/
.settings/
lib/
build/
gradle/wrapper/
bin/
out/
gradlew
gradlew.bat
*.iml
*.ipr
*.iws
*.exe
*.jar
*.war
*.class
generated
src/main/groovy/generated/
src/main/groovy/com/github/biancode/jeeseven/model/generated/
src/main/java/generated/
src/main/java/com/github/biancode/jeeseven/model/generated/
*_.java
.project
.classpath
*.log*
*.log
.idea/
